* {
  /*outline: 1px solid red;*/
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
html,
body {
  background-color: #ddd;
  font-family: 'Droid Serif', serif;
}
.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 10px 0 10px;
  background-color: #ddd;
}
h3 {
  font-family: 'Droid Serif', serif;
  margin: 0 0 30px 0;
  text-align: center;
}
.neutral {
  color: #444;
  background-color: #eee;
}
.neutral:hover {
  background-color: #ddd;
}
.danger {
  background-color: #d88;
  color: #fff;
}
.danger:hover {
  background-color: #d88;
}
.happy {
  background-color: #88d;
  color: #fff;
}
.happy:hover {
  background-color: #88d;
}
.filtered {
  background-color: #eb6;
  color: #950;
}
.filtered:hover {
  background-color: #eb6;
}
.success {
  color: #446;
  background-color: #dee;
}
.success:hover {
  background-color: #dee;
}
.failure {
  color: #a22;
  background-color: #fdd;
}
.failure:hover {
  background-color: #fbb;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cursor:hover {
  cursor: pointer;
}
.authors,
.subreddit,
.user,
input {
  font-family: 'Droid Serif', serif;
}
.panel {
  box-shadow: 1px 1px 1px 1px #999;
  background-color: #fff;
  margin: 8px 0px;
  padding: 12px;
  border-radius: 5px;
}
.pill {
  border: 1px #eee inset;
  padding: 3px 5px;
  border-radius: 2px;
}
.hidden {
  display: none;
}
.dash-panel {
  box-shadow: 1px 1px 1px 1px #999;
  background-color: #fff;
  margin: 8px 0px;
  padding: 12px;
  border-radius: 5px;
  font-size: 14px;
}
.btn {
  border: 1px #eee inset;
  padding: 3px 5px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  text-align: center;
  margin: 0 5px 5px 0;
}
.btn:hover {
  cursor: pointer;
}
.dash-board {
  display: flex;
  word-wrap: break-word;
}
.dash-buttons {
  width: 120px;
  flex-shrink: 0;
  margin-right: 5px;
}
.dash-buttons .btn {
  background-color: #88d;
  color: #fff;
  width: 100%;
}
.dash-buttons .btn:hover {
  background-color: #88d;
}
.info-box {
  border: 1px #eee inset;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: #f5f5f5;
  padding: 8px;
  margin: 10px 0 0 0;
}
.info-box .btn {
  margin-bottom: 0;
}
.info-box-user .user-info {
  padding: 3px 0px;
}
.info-box-user .user-info span {
  display: inline-block;
  width: 100px;
}
.info-box-add-user {
  white-space: nowrap;
}
.info-box-add-user #new-user-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 2em;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.info-box-add-user .new-user-input {
  padding: 3px 5px;
  border-radius: 2px;
  border: #999 solid 1px;
}
.thread {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 1px 1px #999;
  background-color: #fff;
  margin: 8px 0px;
  padding: 12px;
  border-radius: 5px;
}
.thread .left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.thread .left-side a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  margin: 0 5px 14px 0;
}
.thread .left-side a:visited {
  color: #522;
}
.thread .right-side {
  /*unused*/
}
.thread .authors {
  border: 1px #eee inset;
  padding: 3px 5px;
  color: #444;
  background-color: #eee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 5px 2px 5px;
  border-radius: 2px;
}
.thread .authors:hover {
  background-color: #ddd;
}
.thread .authors:hover {
  cursor: pointer;
}
.thread .authors span {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
}
.thread .authors span:hover {
  font-weight: bold;
}
.thread .authors span + span:before {
  content: "| ";
  color: #000;
  font-size: 12px;
}
.thread .subreddit {
  border: 1px #dee inset;
  padding: 3px;
  border-radius: 3px;
  background-color: #dee;
}
.thread .subreddit a {
  color: #446;
  font-size: 12px;
  text-decoration: none;
}
.thread .subreddit a:visited,
.thread .subreddit a:active {
  color: #446;
}
.thread .comment-list {
  padding: 15px 0 0 0;
}
.thread .comment {
  box-shadow: 1px 1px 1px 1px #999;
  background-color: #fff;
  margin: 8px 0px;
  padding: 12px;
  border-radius: 5px;
  margin: 0 0 12px 0;
  padding: 15px;
  font-size: 14px;
  line-height: 1.9em;
  color: #000;
  background-color: #fafafa;
}
.thread .comment p {
  margin: 0;
}
.thread .comment p.quote {
  border-left: 2px solid  #999;
  padding-left: 5px;
}
.thread .comment p + p {
  margin-top: 8px;
}
.thread .comment .italic {
  font-style: italic;
}
.thread .comment a {
  color: #a3a;
}
.thread .comment a:hover {
  cursor: pointer;
}
.thread .comment a:visited {
  color: #a3a;
}